
body {
	background: url(https://static.pexels.com/photos/247599/pexels-photo-247599.jpeg);
	background-size: 100%;
	padding-bottom: 60px;
}

.navbar {
	margin-bottom: 40px;
	background-color: #333745;
	border: 0;
	border-radius: 0;
	box-shadow: 1px 1px 2px #333745;
}

.navbar .navbar-brand {
	color: #F4EBEB;
}

.renderText {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .6);
}